@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CommentAdd</title>
</head>
<body>
    <form asp-antiforgery=false method="post">
        <input type="text" name="name" />
        <br />

        <textarea name="comment"></textarea>
        <br />
        <input type="submit" value="yorum gönder" />
    </form>
    <h1>Yorumlar</h1>
    @if (ViewBag.comments is not null)
    {
        @foreach (var item in ViewBag.comments as string[])
        {
            <span>@Html.Raw(item)</span>
            <hr />
        }
    }
    @* <h1>Yorumlar</h1>
    <strong>@ViewBag.name</strong>
    <hr />
    <span>@Html.Raw(ViewBag.comment)</span> @*encode etme*@
</body>
</html>
